<h1>Products</h1>
<table>
  <thead>
    <tr>
      <td>Name</td>
      <td>Price</td>
      <td>Restaurant</td>
    </tr>
  </thead>
  <tbody>
    <%= @products.each do |product| %>
      <tr>
        <td>
          <%= product.name %>
        </td>
        <td>
          <%= product.value %>
        </td>
        <td>
          <%= product.restaurant.name %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
